.welcometext{
    font-size: 40px;
    color: rgb(0, 255, 119);
    position: relative;
    top: 400px;
    text-align: center;
    animation: slide-left 2s;
}


@keyframes slide-left {
    from {
        margin-left: 100%;
        width: 200%;
        font-size: 20px;
    }
    to{
        margin-left: 0%;
        width: 100%;
        font-size: 40px;
    }
}
