@font-face {
    font-family: 'Games';
    font-style: normal;
    font-weight: 400;
    src: local('Games'), url('https://fonts.cdnfonts.com/s/14926/Games.woff') format('woff');
}

body {
    font-family: 'Games', sans-serif;
    background-color: black;
    width: 100%;
}

html {
    scroll-behavior: smooth;
  }



